:root {
    --dark: #3f2b42;
    --light: #d1abd5;
    --border: #dee2e6;
    --border-btn: #edf2f4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1024px;
    margin: auto;
}

.form-title {
    font-size: 2em;
    text-align: center;
    margin-top: 0.4em;
}

.alert {
    width: 100%;
    font-size: 1.4em;
    padding: 0.3em 1em;
    opacity: 0;
    margin-top: 0.5em;
}

.alert.active {
    opacity: 1;
}

.danger {
    color: red;
}

.form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: minmax(100px, auto);
    margin: 1em;
    grid-auto-flow: dense;
    grid-gap: 1em;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 1.5em;
    padding: 0.1em 0.2em;
    color: var(--light);
}

.form-group span {
    font-size: 0.9em;
    padding: 0.4em 0.2em;
}


.form-group input {
    font-size: 1em;
    padding: 0.5em;
    outline: none;
    border: 1px solid var(--border);
    border-radius: 10px;
}

.form-group input.good {
    border: 1px solid green;
}

.form-group input.bad {
    border: 1px solid rgb(202, 19, 19);
}

.form-group:nth-child(1) {
    grid-column: span 2;
}

.form-group:nth-child(3) {
    grid-column: span 3;
}

.form-group:nth-child(6) {
    grid-column: span 3;
}

span.good {
    color: green;
}

span.bad {
    color: rgb(202, 19, 19);
}

.showbtn {
    display: flex;
    width: 100%;
}

.showbtn input {
    border-radius: 10px 0 0 10px;
    border-right: none;
}

#password,
#confirmPassword {
    width: 100%;
}

/* .passwordDisplay {
    position: relative;
    right: 0em;
    top: 0em;
} */

#showPassword,
#showConPassword {
    position: relative;
    right: 0em;
    top: 0em;
    border-radius: 0 10px 10px 0;
    padding: 0.65em;
    padding-right: 1em;
    background-color: white;
    border: 1px solid var(--border);
    border-left: none;
    display: none;
}

#showPassword.active,
#showConPassword.active {
    display: inline;
}

#showPassword.good,
#showConPassword.good {
    border: 1px solid green;
    border-left: none;
}

#showPassword.bad,
#showConPassword.bad {
    border: 1px solid rgb(202, 19, 19);
    border-left: none;
}

#hidePassword,
#hideConPassword {
    position: relative;
    right: 0em;
    top: 0em;
    border-radius: 0 10px 10px 0;
    padding: 0.5em;
    padding-right: 1em;
    background-color: white;
    border: 1px solid var(--border);
    border-left: none;
    display: none;
}

#hidePassword.active,
#hideConPassword.active {
    display: inline;
}

#hidePassword.good,
#hideConPassword.good {
    border: 1px solid green;
    border-left: none;
}

#hidePassword.bad,
#hideConPassword.bad {
    border: 1px solid rgb(202, 19, 19);
    border-left: none;
}

.btn1 {
    margin-top: 2em;
    font-size: 1em;
    background: linear-gradient(to right, rgb(109, 20, 168), rgb(185, 23, 190));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    outline: none;
    border: none;
}

.btn1:hover {
    background: linear-gradient(to right, rgb(130, 17, 206), rgb(245, 148, 248));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn2 {
    height: 3em;
    font-size: 1em;
    background-color: #a258aa;
    border: 1px solid var(--border-btn);
    color: #f1ecf1;
}

.btn2:hover {
    background-color: var(--dark);
}

#formAlert {
    font-size: 0.9em;
    text-align: center;
}

@media only screen and (max-width:1024px) {
    .container {
        max-width: 90%;
        margin: auto;
    }

    .form {
        display: flex;
        flex-direction: column;
    }

    .alert {
        padding: 0.5em 1em;
    }
}