:root {
    --dark: #3f2b42;
    --light: #d1abd5;
    --border: #dee2e6;
    --border-btn: #edf2f4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 70%;
    margin: auto;
}

.form-title {
    font-size: 2em;
    text-align: center;
    margin-top: 0.8em;
}

.alert {
    width: 100%;
    font-size: 1.4em;
    padding: 0.5em 5em;
    opacity: 0;
}

.alert.active {
    opacity: 1;
}

.danger {
    background-color: rgba(255, 0, 0, 0.479);
    color: rgb(95, 24, 24);
}

.form {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
}

.form-group label {
    font-size: 1.5em;
    padding: 0.1em 0.2em;
    color: var(--light);
}

.form-group span {
    font-size: 0.9em;
    padding: 0.4em 0.2em;
}


.form-group input {
    font-size: 1em;
    padding: 0.5em;
    outline: none;
    border: 1px solid var(--border);
    border-radius: 10px;
}

.form-group input.good {
    border: 1px solid green;
}

.form-group input.bad {
    border: 1px solid rgb(202, 19, 19);
}

/* 
.form-group:nth-child(1) {
    grid-column: span ;
}

.form-group:nth-child(2) {
    grid-column: span 3;
}

.form-group:nth-child(3) {
    grid-column: span 1;
} */

span.good {
    color: green;
}

span.bad {
    color: rgb(202, 19, 19);
}

.btn1 {
    margin-top: 2em;
    font-size: 1em;
    background: linear-gradient(to right, rgb(109, 20, 168), rgb(158, 19, 163));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    outline: none;
    border: none;
}

.btn1:hover {
    background: linear-gradient(to right, rgb(130, 17, 206), rgb(235, 40, 241));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn2 {
    height: 3em;
    font-size: 1em;
    background-color: #a258aa;
    border: 1px solid var(--border-btn);
    color: #f1ecf1;
}

.btn2:hover {
    background-color: var(--dark);
}

#formAlert {
    font-size: 0.9em;
    text-align: center;
}

.text-center {
    text-align: center;
}

.inline {
    display: inline-block;
}

@media only screen and (max-width:690px) {
    .container {
        max-width: 90%;
        margin: auto;
    }

    .alert {
        padding: 0.5em 1em;
    }
}